<h1>Eat Da Burger</h1>

<h2>Burgers You Have Yet to Conquer</h2>

<ul>
  {{#each burger}}

    <li>{{this.burger_name}}</li>
    <li>{{this.devoured}}</li>
  {{/each}}
</ul>

<h2>Conquered Burgers</h2>


<h2>Add a burger</h2>
<form id="createForm" class="create-form">


  <div class="form-group">
    <label for="burg">Burger</label>
    <textarea id="burg" name="burger" rows="8" cols="40"></textarea>
  </div>

  <button class="create" type="submit">Add Burger</button>

</form>
